html {
	background: #FFF;
	font-family: helvetica;
}

body {
	margin: 0px;
}

#holder-video {
	float: left;
	background-image: url(../../images/glassBackground.jpg);
	width: 800px;
	height: 800px;
}


#header {
	width: 790px;
	height: 80px;
	color: #666;
	font-size: 14px;
	margin: 0;
}   

#header * {
	vertical-align: middle;
}

#header .pdk-logo {
	float: left;
	margin-right: 10px;
}

#header .tp-logo {
	float: right;
}

h1 {
	font-size: 14px;
	margin: 2px;
	padding: 0;
}

h2 {
	font-size: 12px;
	margin: 2px;
	padding: 0;
}

h3 {
	font-size: 11px;
	margin: 2px;
	padding: 0;
}

#info {
	width: 560px;
	height: 50px;	
	margin: 16px auto 6px auto;
}

#player {
	margin: 5px auto;
	width: 560px;
	height: 314px;	
}

#list-label {
	text-align: left;
	color: #b0b0b0;
	font: bold 12pt Calibri;
	width: 560px;
	margin: 14px auto 9px auto;
}

#releaselist {	
	width: 500px;
	height: 100px;	
	margin: 0 auto;
	z-index: 10000;
}

#navigation {  
	width: 560px;
	height: 100px;		
	margin: -100px auto 0 auto;
}

#releaselist2 {	
	width: 500px;
	height: 100px;	
	margin: 0 auto;
	z-index: 10000;
}

#list-label2 {
	text-align: left;
	color: #b0b0b0;
	font: bold 12pt Calibri;
	width: 560px;
	margin: 30px auto 9px auto;
}

#navigation2 {  
	width: 560px;
	height: 100px;		
	margin: -100px auto 0 auto;
}

.tpNavigation {
    position: relative;
}

.releaseListItemSelected a {

line-height:14px;

}

.releaseListItem a {

line-height:14px;

}
