@import url("global.css");

html {
	background: #BEC7D8;
	font-family: helvetica;
}

body {
	margin: 5px;
}

#search-video {
	float: left;
	width: 578px;
	position: relative;
	z-index: 20;
}

#browse-video {
	float: left;
	width: 578px;
}

#info {
	float: left;
	width: 308px;
	height: 344px;	
	margin: 0 0 5px 0;	
}

#player {
	float: left;
	width: 400px;
	height: 344px;
	margin: 0 5px 5px 0;
}

#categorylist {
	float: left;
	width: 130px;
	height: 210px;
	position: relative;
	margin: 0 5px 0 0;
	z-index: 5;
	overflow: visible !important;
    overflow: hidden;
    
}

#search {
	float: left;
	width: 293px;
	height: 30px;
	margin: 0 0 0 -8px;	
}

#navigation {  	
	float: left;
	width: 293px;
	height: 30px; 
}

#releaselist {
	margin: -30px 0 0 0;
	float: left;
	width: 578px;
	height: 210px;
	position: relative;
	z-index: 10;
}

.releaseListItemSelected a {

line-height:14px;

}

.releaseListItem a {

line-height:14px;

}
