.mp-tracktip {
    position: absolute;
    top: -32px;
    background: #2D3133;
    color: white;
    border: 1px solid black;
    left: 50px;
    border-radius: 10px;
    padding: 2px 8px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    display: none;
    width: 200px;
}

.mp-tracktip-thumb {
    height: 64px;
    float: left;
    margin-right: 8px;
}
.mp-tracktip-cc {
    padding-left: 10px;
}
.mp-tracktip-box {
    margin-top: 4px;
}

.mp-tracktip-time {
    margin: 4px 0;
    text-align: center;
    font-weight: bold;
}
.mp-tracktip-clear {
    clear: both;
    height: 1px;
    line-height: 1px;
}

.mp-fullscreen .mp-tracktip {
}
.mp-fullscreen .mp-tracktip-thumb {
    height: 5em !important;
}