a {
    text-decoration: none;
}
.header {
    border-bottom: 1px solid black;
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 1.1em;
}
.subsection .header {
    margin-bottom: .5em;
    margin-left: -30px;
    border-bottom: 1px solid #888;
    color: #555;
    font-size: 1em;
}
.section {
    margin:  15px;
}
.subsection {
    margin: 15px 30px;
}

.stress {
    font-size: 1.1em;
    font-family: monospace;
}
.example {
    display: none;
}

.fiddle {
    display: block;
    width: 100%;
    height: 365px
}

iframe, pre {
    border:  1px solid #888;
}
.method {
    margin-top: 8px;
}
.method .header{
    background: #eee;
    padding:  2px;
    border:  none;
}

.title {
    font-size: 1.5em;
}
.toc {
    width: 150px;
    font-size: .9em;
    padding-top: 0;
    position: fixed;
    left: 10px;
    top: 40px;
}
.toc a {
    display: block;
    margin:  4px;
}
.toc .toc-subsection {
    padding-left: 10px;
}
.top {
    float: right;
    font-size: .75em;
    text-decoration: none;
}

.container {
    margin-left: 160px;
}a