
.mp-ff {
    overflow-y: auto;
}
.mp-ff-box {
    position: relative;
    top: 0; left: 0;
    height: 0;
    padding-bottom: 0px;
}
.mp-ff iframe {
    display:block;
    width: 100%;
    position: absolute;
    bottom: 0;
}