.metaplayer-captions {
    bottom: 40px;
    color: white;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 10px black, 0 0 10px black;
    font-family: Verdana, sans-serif;
}
.metaplayer-captions-text {
    /*font-size: 14px;*/
    padding: 10px;
}

