.error {
    color: red;
    font-size: .75em;
}
.succcess {
    color: gray;
}
.skip, .info {
    color: gray;
}

.item {
    margin-left: 15px;
}
.subtest {
    margin-left: 10px;
    font-style: italic;
}
.test {
    margin-left: 5px;
    font-weight: bold;
    font-size: 1.1em;
}
.summary {
    font-size: 1.5em;
    margin-top: 10px;
}
.summary.success {
    color: green;
}
